body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    
    align-items: center;

    background: linear-gradient(rgb(222, 217, 250), rgb(121, 121, 167));
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    margin: 12px;
}

.addBtn{
    font-family:cursive;
    width: auto;
    font-size: 1.5rem;
    background-color: blueviolet;
    padding: 8px;
    border: 2px solid gray;
    border-radius: 8%;

    box-shadow: grey;
    color: lavenderblush;
    text-align: center;
}

.addBtn:hover{
    width: 130px;
    height: 32px;
    

    cursor: pointer;
}

.libContainer{
    width: 90%;
    height: 75%;

    display: flex;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: flex-start;
    gap: 8%;

    padding: 20px;
    border: 3px solid black;

}



/* modal */
.popUp{
    position: fixed;
    top: 55%;
    left: 50%;                  /* top-left of the div at center of page*/
    transform:translate(-50%, -50%);     /* pushes the div to center of page by shift by 50% of it's dimension */


    opacity: 0;
    transition:all 150ms ease-in-out;
}


.overLay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(78, 49, 83, 0.8);
    z-index: 9999;

    display: none;
}

.modal-open{
    opacity: 1;
    top: 50%;
}


form{
    color:rgb(222, 217, 250);
}

input[type='text'],
input[type='number']{
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    margin: 10px;
    font-size: 1rem;
}

input[type='checkbox'] {
    margin: 10px;
}

label{
    font-size: 1.2rem;
}

.ipBtns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 8px;
}

.ipBtns button{
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
}

.ipBtns button:hover {
    background-color: #76AEED;
}


.card{
    border: 2px solid black;
    background-color: blueviolet;
    color: floralwhite;
    border-radius: 8%;
    

    padding: 10px;
}


.curHover:hover{
    cursor: pointer;
    background-color: chartreuse;
    color: darkblue;
}

